<footer class="main-footer">
  <div class="float-right d-none d-sm-block"><b>Version</b> 3.2.0</div>
  <strong>&copy; 2026 Organizer System.</strong>
</footer>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
